.side-menu {
  min-width: 72px;
  padding: 16px 8px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

.side-menu:hover {
  color: #48aff0;
  background-color: rgba(19, 124, 189, 0.2);
}

.side-menu-checked {
  color: #48aff0;
  background-color: rgba(19, 124, 189, 0.2);
}

.side-left-menu {
  padding: 4px;
  border: 2px solid #464450;
}

.close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(2);
  font-size: 0.5rem;
}

/* #side {
  border-right: 1px solid black;
} */
