.scale-tool {
  position: absolute;
  bottom: 5px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px lightgrey;
  background-color: #404854;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  user-select: none;
}
.scale-tool:hover {
  opacity: 1;
}

.scale-tool button {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.scale-tool button:disabled {
  cursor: not-allowed;
}

.scale-tool button:hover {
  background: rgba(143, 153, 168, 0.15);
}
.scale-tool button:focus-within {
  outline: 1px solid white;
}

.scaleMenu {
  margin: 0 12px;
  padding: 0;
}
.scale-scaleMenu:hover {
  background: rgba(143, 153, 168, 0.15);
}

.zoom-icon {
  font-size: 16px;
  font-weight: bolder;
}

.scale-dropdown {
  background-color: #404854;
  min-width: 85px;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}
.scale-dropdown-item {
  padding: 5px 7px;
  text-align: left;
  border-radius: 3px;
  cursor: pointer;
}
.scale-dropdown-item:hover {
  background: rgba(143, 153, 168, 0.15);
}
